Flask==2.3.1
Flask-Login
Flask-SQLAlchemy
Flask-Cors~=3.0.10

google~=3.0.0
google-auth~=2.17.3
google-auth-oauthlib~=1.0.0

pandas~=2.0.1
scikit-learn~=1.2.2
torch>=2.0.1
PyJWT~=2.6.0
CacheControl~=0.12.11
requests==2.29.0
Werkzeug==2.3.0
bcrypt~=4.0.1
pytest>=7.3.1